@magnetic:registry=https://engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/
//engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:_password=Y21WbWRHdHVPakF4T2pFM05qWXpORFU0TlRZNmJsRkhaV1EyZEV4SFEwSlNZbVEzYlVsMlVtbElNM055YzBWdg==
//engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:username=soubera
//engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:email=soubera@cisco.com
//engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:always-auth=true
